<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>viewOrder</title>
<link rel="stylesheet" href="../assets/css/layui.css">
  <link rel="stylesheet" href="../assets/css/view.css"/>
<link href="../css/start_common.css" rel="stylesheet"/>
<link href="../css/start_table.css" rel="stylesheet"/>
</head>

<body>
<!--页面最大的div-->
 <div class="content start_viewOrder">
    <!--对表格进行设置-->
     <table class="common start_table start_table1" id="orderInforTab">
  <tr class="tr_first">
    <td>订单编号</td><td>原材料名字</td><td>订购数量</td><td>所在仓库</td><td>采购时间</td><td>到货时间</td>
  </tr>
  <tr>
    <td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  </tr>
  </table>
  <div class="start_viewOrder_bottom start_bottom">
    <div>共有&nbsp;&nbsp;<a id="totalNumber">0</a>&nbsp;条记录，当前是第&nbsp;<a id="presentPage">1</a>&nbsp;页，共有<a id="totalPages">0</a>&nbsp;页</div>
      <div  class="orderInfor"><span><input type="button" value="上一页" id="prePage"/><!-- <a href="#">1</a><a href="#">2</a><a href="#">3</a> --><input type="button" value="下一页" id="nextPage"/></span></div>
   </div>
 <!--页面最大的div结束-->
 </div>
<script src="../assets/layui.all.js"></script>
<script src="../assets/lay/modules/jquery.js"></script>
<script src="../assets/lay/modules/jquery2.js"></script>
<script type="text/javascript" src="../js/purchase_viewOrder.js"></script>
 </body>
</html>
