<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ERP新手模式</title>
<link rel="stylesheet" href="../assets/css/layui.css">
<link rel="stylesheet" href="../assets/css/view.css"/>
<link href="../css/start_common.css" rel="stylesheet"/>
<link href="../css/inventory.css" rel="stylesheet" />
<style type="text/css">
body,.div1{
	height:920px;
	position:relative;
}
</style>

<!--[if IE 6]>
<script src="../../js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.p_img');
</script>
<![endif]-->
</head>
<body >
<div class="div1">
        <!--中间大框开始-->
        <div class="big_square">
      
           <!--深色箭头开始-->
           <div class="arrow_one">
               <img class="arrow_one_img" src="../images/arrow_one.gif"/>
               <span class="storehouse">1号仓库</span>
           <!--深色箭头结束-->
           </div>
         <!--p1开始-->
             <div class="p">
                 <!--p1_top开始-->
                 <div class="p_top">
                     <img class="p_img" src="../images/R1.png"/>
                 <!-- p1_top结束-->
                 </div>
                 <!--p1_bottom开始-->
                 <div class="p_bottom">
                      <div class="num">&times;&nbsp;&nbsp;<span class="R1">0</span></div>
                  <!--p1_bottom结束-->
                 </div>
             <!-- p1结束-->
             </div>
              <!--p2开始-->
             <div class="p">
                  <!--p2_top开始-->
                 <div class="p_top">
                     <img class="p_img" src="../images/R2.png"/>
                  <!--p2_top结束-->
                 </div>
                 <!--p2_bottom开始-->
                 <div class="p_bottom">
                     <div class="num">&times;&nbsp;&nbsp;<span class="R2">0</span></div>
                  <!--p2_bottom结束-->
                 </div>
              <!--p2结束-->
             </div>
              <!--p3开始-->
             <div class="p">
                 <!--p3_top开始-->
                 <div class="p_top">
                     <img class="p_img" src="../images/R3.png"/>
                 <!-- p3_top结束-->
                 </div>
                 <!--p3_bottom开始-->
                 <div class="p_bottom">
                     <div class="num">&times;&nbsp;&nbsp;<span class="R3">0</span></div>
                  <!--p3_bottom结束-->
                 </div>
              <!--p3结束-->
             </div>
              <!--p4开始-->
             <div class="p">
                 <!--p4_top开始-->
                 <div class="p_top">
                     <img class="p_img" src="../images/R4.png"/>
                  <!--p4_top结束-->
                 </div>
                 <!--p4_bottom开始-->
                 <div class="p_bottom">
                     <div class="num">&times;&nbsp;&nbsp;<span class="R4">0</span></div>
                  <!--p4_bottom结束-->
                 </div>
              <!--p4结束-->
             </div>
             
              <!--半个箭头开始-->
              <div class="arrow_two">
                 <img src="../images/arrow_two.gif"/>
              <!--半个箭头结束-->
              </div>
     
        <!--中间大框结束-->
        </div>

</div>
<script src="../assets/layui.all.js"></script>
<script src="../assets/lay/modules/jquery.js"></script>
<script type="text/javascript" src="../js/material_inventory.js"></script>
<script type="text/javascript"></script>
</body>
</html>
