<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查看利润表</title>
    <link rel="stylesheet" href="../css/start_common.css" />
    <link rel="stylesheet" href="../css/finance/finance.css" />
</head>

<body>
<div class="content">
    <!--包含白色标题和灰色小横条部分-->
    <div class="trabecula">

    </div>

    <!--查询条件开始-->
    <div class="choose">
        <div class="choose_common choose_balance">
            <div class="start_year">
                <label>查询条件：</label>
                <select name="start_year">

                </select><span>年</span>
                <select name="start_period">

                </select><span>期</span>
            </div>
            <input type="button" name="search" value="查询" class="search_btn"/>
        </div>
    </div>
    <!--查询结束-->

    <!--利润表开始-->
    <div class="tab">
        <table class="profit_table">
            <tr class="first_tr">
                <td>项目</td><td>数值</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <!--利润表结束-->
</div>

<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/profit_sheet.js"></script>
</body>
</html>
