<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>start_deliver_ads_waitHall</title>
<link rel="stylesheet" href="../assets/css/layui.css">
  <link rel="stylesheet" href="../assets/css/view.css"/>
<link href="../css/start_common.css" rel="stylesheet"/>
<link href="../css/start_table.css" rel="stylesheet"/>
</head>

<body>
<div class="ads_left ads_border ads_wait"><!--ads_wait为单有属性-->
  <div>
      <p class="ads_left_p p_color common_color">等待大厅&nbsp;>></p>
       <div class="ads_wait_tab1">
	      <table class="ads_wait_tab common" >
	       <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	         <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	         <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	         <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	         <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	         <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	        <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	        <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	        <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	        <tr>
	            <td><img src="" /><p><!--填入用户名--></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	            <td><img src="" /><p></p></td>
	        </tr>
	      </table>
       </div>
  </div>
</div>
<!-- 所有的js 都迁移到start_deliver_ads_wait.js -->
<script src="../assets/layui.all.js"></script>
<script src="../assets/lay/modules/jquery.js"></script>
<script src="../assets/lay/modules/jquery2.js"></script>
</body>
</html>
